{{define "content"}}
<div class="w3-row w3-padding-16">
    <div class="w3-col l8 m12 w3-padding-small w3-center">
        <div id="sliderContainer" class="gallery-slideshow">
            <div class="gallery-slideshow__stage" aria-live="polite"></div>
        </div>
        <script type="application/json" id="gallery-images">{{.ImagesJSON}}</script>
    </div>
    <div class="w3-col l4 m12 w3-padding-small">
        {{.Blurb}}
    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/js/gallery-slideshow.js"></script>
<script>
    GallerySlideshow.init('sliderContainer', 'gallery-images', {
        interval: 7000,
        fadeMs: 700,
        pauseOnHover: true,
        arrowKeys: true
    });
</script>
{{end}}
