{{ define "content" }}
    <div class="col-md-6">
        <div class="row" style="padding: 16px;">
            {{.About}} 
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="padding: 16px;">
            <h2>Rooms</h2>
            {{range .Galleries}}
            <a href="/gallery/{{.Name}}">
                {{.Name}}
            </a>
        <br>
            {{end}}   
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
    <p class="text-muted">Copyright &copy; Chez Watts <time datetime="2015">2015</time></p>      
  </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
